@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// 1. Own variables
$c-main: #1f4b99;
$c-secondary: #29b5ba;
$c-light: #EAF4FC;
$c-light-dark: #B8CBED;
$c-main-dark: #141C3E;

$c-black: #0d0d0d;
$c-gray: #efefef;
$c-white: #ffffff;

$c-yellow: #EFE239;
$c-light-yellow: #FBFBCD;

$c-blue: #64C1DF;
$c-light-blue: #E5F4F9;

$c-button-grey: #D7DBEC;

$fs-xsmall: 12px;
$fs-small: 14px;
$fs-normal: 16px;
$fs-big: 18px;
$fs-large: 24px;
$fs-xlarge: 28px;
$fs-title: 36px;
$fs-subtitle: 20px;

$fw-bold: bold;

// UIKIT VARS
$global-color: #383838;
$base-heading-color: black;
$global-primary-background: $c-main;
$global-secondary-background: $c-secondary;
$global-muted-background: $c-gray;

$inverse-button-secondary-background: $c-secondary;
$inverse-button-secondary-color: $c-white;
$inverse-button-secondary-hover-color: $c-white;
$inverse-button-secondary-active-color: $c-white;
$inverse-global-color:  $c-white;

$global-small-font-size: $fs-small;
$global-font-family:  'Poppins', sans-serif;
$global-large-font-size: 20px;
$global-small-font-size: 14px;

$base-heading-font-weight: $fw-bold;
$global-2xlarge-font-size: 42px;
$global-xlarge-font-size: 36px;
$text-lead-color: $c-black;

$container-max-width: 1180px;
$container-small-max-width: 800px;

$card-default-background: $c-light;

$button-line-heigh: 50px;
$button-padding-horizontal: 2.5rem;

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() {
	color: #000;
}

@mixin hook-button() {
	border-radius: 50px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-width: 2px !important;
}

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

// 5. Custom styles
// - ha van alulvonás, akkor sass-nál nem kell a .css-t kiírni
@import "custom/import";