.block-hero{
	&:before{
		content:"";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 0;
		background: rgba(#000 , .5);
	}
}

.block-featured{
	margin-top: -90px;
	position: relative;
	z-index: 2;
	@media (max-width: $breakpoint-medium) {
		margin-top: 2rem;
	}
	.img{
		overflow: hidden;
		box-shadow: inset 0 0 0 10px white, 0 5px 10px rgba(#000 , .1);

		border-radius: 50%;
		padding-top: 100%;
		background-position: center;
		background-size: cover;
	}
}

.block-list{
	background: linear-gradient(180deg, rgba(242, 247, 255, 0) 0%, #F2F7FF 100%);
	i{
		font-size: 2rem;
		min-width: 40px;
	}
}

.block-gallery{
	.img{
		display: block;
		padding-top: 56.5%;
		background-size: cover;
	}
}

.block-booking{
	background: linear-gradient(180deg, #F2F7FF 0%, rgba(242, 247, 255, 0) 100%);
}

.wpbs-main-wrapper{
	.wpbs-calendars{
		display: flex;
		.wpbs-calendar{
			margin: 0 auto !important;
		}
	}
	.wpbs-form-container{
		max-width: 100% !important;
		display: block;
		.wpbs-form-fields{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-gap: 1rem 2rem;
			label{
				font-weight: normal !important;
				font-size: $global-small-font-size !important;
			}
			.wpbs-form-field-textarea{
				grid-column: -1/1;
			}
		}
		.wpbs-form-submit-button button[type=submit]{
			margin: 0 !important;
			background-color: transparent !important;
			color: #333 !important;
			border: 2px solid #e5e5e5 !important;
			font-size: $global-small-font-size !important;
			border-radius: 50px !important;
			display: inline-block !important;
			padding: 0 2.5rem !important;
			line-height: 38px !important;
			text-transform: uppercase !important;
			&:hover{
				background: transparent !important;
				color: #333 !important;
				border-color: #b2b2b2 !important;
			}
		}
	}
}