<section class="uk-section">
    <div class="uk-container">

        {# copyright #}
        <div class="uk-text-small uk-margin-remove-top uk-text-center">
            <p class="uk-margin-remove-bottom uk-text-muted">
                {{ options.copyright }}
                Webfejlesztés: <a class="uk-text-muted" href="https://weart.hu" title="Weboldal készítés, WordPress és React fejlesztés - weart.hu">weart.hu</a>
            </p>
        </div>

    </div>
</section>